* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  /* font-size: 24px; */
  background-color: rgb(235, 230, 214);
  color: rgb(48, 56, 90);
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

/* NAVIGATION BAR */
.navigation {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

a {
  margin-right: 80px;
}

.link {
  margin-right: 20px;
}

/* MAIN BODY */
img {
  width: 400px;
  grid-row: 1 / span 3;
  align-self: end;
}

.lower-header {
  margin-top: 80px;
  display: grid;
  column-gap: 50px;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr 1fr auto;
}

.name {
  grid-row: 2 / 3;
  margin: 0px;
  font-size: 80px;
  font-weight: bolder;
  height: fit-content;
  align-self: end;
}

.page-subtitle {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 24px;
  height: fit-content;
  margin: 0;
}
